<p>
    <form class="form-inline"
          action="{{ request.url }}/add_group"
          method="POST">
        <div class="form-group">
            <input class="form-control" name="group_title"
                   placeholder="New group title..."/>
        </div>
        <input type="submit" class="btn" value="Add Group"/>
    </form>
</p>